<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：库存管理-》库存维护</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/managein">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
                        <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="med_id" value="{$info.med_id}"/>
                           <!-- 隐藏域,为了让修改时主键id重新返回数据-->
                            <table border="1" width="100%" class="table_a">
                                <tr>
                                    <td>国药准字号</td>
                                    <td><input name="med_approvalnumber" type="text" value="{$info.med_approvalnumber}" readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>药品名称</td>
                                    <td><input type="text" name="med_name" value="{$info.med_name}" readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>生产厂家</td>
                                    <td><input type="text" name="med_manufacturer" value="{$info.med_manufacturer}"readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>药品规格</td>
                                    <td><input type="text" name="med_norms" value="{$info.med_norms}"readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>药品剂型</td>
                                    <td><input type="text" name="med_form" value="{$info.med_form}"readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>药品类型</td>
                                    <td><input type="text" name="med_type" value="{$info.med_type}"readonly="true"/></td>
                                </tr>
                                <tr>
                                    <td>药品库存</td>
                                    <td><input type="text" name="med_inventory" value="{$info.med_inventory}"/></td>
                                </tr>
                                <tr>
                                    <td>供应商</td>
                                    <td><input type="text" name="med_supplier" value="{$info.med_supplier}"readonly="true"/></td>
                                </tr> 
                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="维护">
                                    </td>
                                </tr> 
                            </table>
                        </form>
                    </div>
    </body>
</html>