<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
           <link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：供应商管理-》修改供应商信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/managesup">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
                        <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="sup_id" value="{$info.sup_id}"/>
                           <!-- 隐藏域,为了让修改时主键id重新返回数据-->
                            <table border="1" width="100%" class="table_a">
                                <tr>
                                    <td>供应商名</td>
                                    <td><input name="sup_name" type="text" value="{$info.sup_name}"/></td>
                                </tr>
                                <tr>
                                    <td>联系人</td>
                                    <td><input type="text" name="sup_principal" value="{$info.sup_principal}" /></td>
                                </tr>
                                <tr>
                                    <td>电话/传真</td>
                                    <td><input type="text" name="sup_fax" value="{$info.sup_fax}"/></td>
                                </tr>
                                <tr>
                                    <td>手机号码</td>
                                    <td><input type="text" name="sup_phone" value="{$info.sup_phone}"/></td>
                                </tr>
                                <tr>
                                    <td>银行帐户</td>
                                    <td><input type="text" name="sup_bcard" value="{$info.sup_bcard}"/></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" name="sup_email" value="{$info.sup_email}"/></td>
                                </tr>
                                <tr>
                                    <td>通讯地址</td>
                                    <td><input type="text" name="sup_address" value="{$info.sup_address}"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="修改">
                                    </td>
                                </tr> 
                            </table>
                        </form>
                    </div>
    </body>
</html>