<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" rel="stylesheet">
    <link href="{$smarty.const.ADMIN_CSS_URL}about.css" rel="stylesheet">
  </head>
  <body>
        <div class="div_head">
                        <span>
                            <span style="float:left">当前位置是：关于-》开发者信息</span>
                            <span style="float:right;margin-right: 8px;font-weight: bold">
                            </span>
                        </span>
                    </div>
	<div class="intr">
    	<span class="avtar"></span>
        <p class="peointr">开发者：连周鹏</p>
        <p class="peointr">开发语言：PHP</p>
        <p class="peointr">开发框架：ThinkPHP3.2.3</p>
        <p class="peointr">软件版本：1.0</p>
        <p class="peointr">GitHub:<a href="https://github.com/valuest/medpss" target=_blank>https://github.com/valuest/medpss</a></p>
    </div>
  </body>
</html>