<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>add</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
            <link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" rel="stylesheet" type="text/css" />
       
                </head>

                <body>

                    <div class="div_head">
                        <span>
                            <span style="float:left">当前位置是：药品管理-》添加药品</span>
                            <span style="float:right;margin-right: 8px;font-weight: bold">
                            </span>
                        </span>
                    </div>
                    <div style="font-size: 13px;margin: 10px 5px">
                        <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                            <table border="1" width="100%" class="table_a">
                                <tr>
                                    <td>国药准字号</td>
                                    <td><input name="med_approvalnumber" type="text" placeholder="例:H20010815" maxlength="9"/>
                                        (化学药:H+8位数字;中药:Z+8位数字)
                                        <span style="color: red;">{$errorInfo.med_approvalnumber}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品名称</td>
                                    <td><input type="text" name="med_name" />
                                    <span style="color: red;">{$errorInfo.med_name}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>生产厂家</td>
                                    <td><input type="text" name="med_manufacturer" />
                                        <span style="color: red;">{$errorInfo.med_manufacturer}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品规格</td>
                                    <td><input type="text" name="med_norms" />
                                         <span style="color: red;">{$errorInfo.med_norms}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品剂型</td>
                                    <td><input type="text" name="med_form" />
                                     <span style="color: red;">{$errorInfo.med_form}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品类型</td>
                                    <td>
                                        <select name="med_type">
                                            <option value="1">-请选择-</option>
                                            {foreach from=$info1 key=_k item=_v}
                                            <option value="{$_v.med_type}">{$_v.med_type}</option>
                                            {/foreach}
                                        </select>
                                     <span style="color: red;">
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     {$errorInfo.med_type}
                                     </span>    
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品采购价</td>
                                    <td><input type="text" name="med_inprice" />
                                     <span style="color: red;">{$errorInfo.med_inprice}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品零售价</td>
                                    <td><input type="text" name="med_price" />
                                     <span style="color: red;">{$errorInfo.med_price}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品库存</td>
                                    <td><input type="text" name="med_inventory" value="0" readonly="true"/>
                                     <span style="color: red;">{$errorInfo.med_inventory}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>供应商</td>
                                    <td>
                                        <select name="sup_name">
                                            <option value="1">-请选择-</option>
                                            {foreach from=$info2 key=_k item=_v}
                                            <option value="{$_v.sup_name}">{$_v.sup_name}</option>
                                            {/foreach}
                                        </select>
                                        <span style="color: red;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {$errorInfo.sup_name}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>添加时间</td>
                                    <td><input type="text" name="med_date" id="today" /></td>
                                </tr>           
                                <script type="text/javascript">
                                    function today() {
                                        var today = new Date();
                                        var y = today.getFullYear();
                                        var m = today.getMonth() + 1;
                                        var d = today.getDate();
                                        var h = ("0" + today.getHours()).slice(-2);
                                        var f = ("0" + today.getMinutes()).slice(-2);
                                        var s = ("0" + today.getSeconds()).slice(-2);
                                        return y + "-" + m + "-" + d + " " + h + ":" + f + ":" + s;
                                    }

                                    document.getElementById("today").value = today();
                                </script>
                                 <tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="添加" onclick="return checkNull()">
                                    </td>
                                </tr>
                                
                            </table>
                        </form>
                    </div>
                </body>
                </html>