<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>修改</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
           <link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：商品管理-》修改药品信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/managemed">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
                        <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="med_id" value="{$info.med_id}"/>
                           <!-- 隐藏域,为了让修改时主键id重新返回数据-->
                            <table border="1" width="100%" class="table_a">
                                <tr>
                                    <td>国药准字号</td>
                                    <td><input name="med_approvalnumber" type="text" value="{$info.med_approvalnumber}"/></td>
                                </tr>
                                <tr>
                                    <td>药品名称</td>
                                    <td><input type="text" name="med_name" value="{$info.med_name}" /></td>
                                </tr>
                                <tr>
                                    <td>生产厂家</td>
                                    <td><input type="text" name="med_manufacturer" value="{$info.med_manufacturer}"/></td>
                                </tr>
                                <tr>
                                    <td>药品规格</td>
                                    <td><input type="text" name="med_norms" value="{$info.med_norms}"/></td>
                                </tr>
                                <tr>
                                    <td>药品剂型</td>
                                    <td><input type="text" name="med_form" value="{$info.med_form}"/></td>
                                </tr>
                                <tr>
                                    <td>药品类型</td>
                                    <td>
                                        <select name="med_type">
                                            <option value="{$info.med_type}">{$info.med_type}</option>
                                            {foreach from=$info1 key=_k item=_v}
                                            <option value="{$_v.med_type}">{$_v.med_type}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>药品采购价</td>
                                    <td><input type="text" name="med_inprice" value="{$info.med_inprice}"/></td>
                                </tr>
                                <tr>
                                    <td>药品零售价</td>
                                    <td><input type="text" name="med_price" value="{$info.med_price}"/></td>
                                </tr>
                                <tr>
                                    <td>供应商</td>
                                    <td>
                                        <select name="med_supplier">
                                            <option value="{$info.med_supplier}">{$info.med_supplier}</option>
                                            {foreach from=$info2 key=_k item=_v}
                                            <option value="{$_v.med_supplier}">{$_v.med_supplier}</option>
                                            {/foreach}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>修改时间</td>
                                    <td><input type="text" name="med_date" id="today" /></td>
                                </tr>           
                                <script type="text/javascript">
                                    function today() {
                                        var today = new Date();
                                        var y = today.getFullYear();
                                        var m = today.getMonth() + 1;
                                        var d = today.getDate();
                                        var h = ("0" + today.getHours()).slice(-2);
                                        var f = ("0" + today.getMinutes()).slice(-2);
                                        var s = ("0" + today.getSeconds()).slice(-2);
                                        return y + "-" + m + "-" + d + " " + h + ":" + f + ":" + s;
                                    }

                                    document.getElementById("today").value = today();
                                </script>

                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="修改">
                                    </td>
                                </tr> 
                            </table>
                        </form>
                    </div>
    </body>
</html>