<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息管理</title>
<link href="{$smarty.const.ADMIN_CSS_URL}show.css" rel="stylesheet" type="text/css" />
<link href="{$smarty.const.ADMIN_CSS_URL}add&change.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.min.js"></script>
<script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.shiftcheckbox.js"></script>
<script type="text/javascript">
      function setInfoText(text) {
        $('#demo1-link').text(text);
        if (console && console.log) console.log(text);
      }
      $(function() {
        $('#demo1 div.checkbox').shiftcheckbox({
          checkboxSelector: ':checkbox',
          selectAll: $('#demo1 .all'),
          onChange: function(checked) {
            setInfoText('Changed checkbox ' + $(this).attr('id') + ' to ' + checked + ' programmatically');
          }
        });     
      });//全选和shift下部分选
      function Check()
     {
         var check=document.getElementsByTagName('input');
         var bl=false;
     for(var i=0;i<check.length;i++)
     {
         if(check[i].checked) 
         {
            bl=ture;
            break;
         
         }
     } 
     if(!bl) 
         alert('最少选择一种药');
         return false;
         //redirect('salemed');
     }//判断复选框是否为空
     
     checkedIds="";//翻页保存选中的id(翻页记录前一页的check的值)
          function changeIds(){
             var oneches=document.getElementsByName("checkbox");
             for(var i=0;i<oneches.length;i++){
                 if(oneches[i].checked==true){
                     //避免重复累计id （不含该id时进行累加）
                     if(checkedIds.indexOf(oneches[i].value)==-1){
                         checkedIds=checkedIds+oneches[i].value+",";
                     }
                 }
                 if(oneches[i].checked==false){
                     //取消复选框时 含有该id时将id从全局变量中去除
                     if(checkedIds.indexOf(oneches[i].value)!=-1){
                         checkedIds=checkedIds.replace((oneches[i].value+","),"");
                     }
                 }
             }
          }
    function getChecked(){
                var oneches=document.getElementsByName("checkbox");
             for(var i=0;i<oneches.length;i++){
                     //全局变量中含有id，则该复选框选中
                     if(checkedIds.indexOf(oneches[i].value)!=-1){
                         oneches[i].checked=true;
                     }
                 }
          }
    </script>

</head>
<body>

        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：采购管理-》选择采购药品</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                </span>
            </span>
        </div>
<!--        <div class="div_search">
            <span>
                <form action="#" method="get">
                    <input type="text"/>
                    <input value="查询" type="submit" />
                </form>
            </span>           
        </div>-->
    <div>
        <span>
            <form action="#" method="get">
                <input size="20px" type="text" value="供应商:[{$infoA.sup_name}]" readonly="ture"/>
            </form>
        </span>
    </div>
    
    <div class="rightinfo" id="demo1">
    <table class="tablelist">
    	<thead>
    	<tr>
            <th><div class="all"><input type="checkbox" id="all-1" value=""/></div></th>
        <th>ID<i class="sort"><img src="{$smarty.const.ADMIN_IMG_URL}px.gif" /></i></th>
        <th>名称</th>
        <th>生产厂商</th>
        <th>规格</th>
        <th>类型</th>
        <th>采购价</th>
        </tr>     
        </thead>
        <tbody>
            <form action="{$smarty.const.__CONTROLLER__}/purchase" method="post" onsubmit="return Check()">
            {foreach $info as $k => $v} 
                    <tr id="product1">
                        
                        <td><div class="checkbox"><input name="checkbox[]" type="checkbox" 
                                   value="{$v.med_id}" id="{$v.med_id}"/></div>
                        </td>
                        
                        <td>{$v.med_id}</td>
                        <td>{$v.med_name}</td>
                        <td>{$v.med_manufacturer}</td>
                        <td>{$v.med_norms}</td>           
                        <td>{$v.med_type}</td>
                        <td>{$v.med_inprice}</td></td>
                    </tr>
            {/foreach}
<!--            <tr>
                <td colspan="20" style="text-align: center;">
                    <div class="pages">{$page}</div> 
                </td>
            </tr>-->
            <tr>
                <td colspan="20" style="text-align: center;">
                    <div class="text-center">
                        <!--<a href="{$smarty.const.__CONTROLLER__}/sales">-->
                        <input style="height: 30px; width:250; background:#6699ff" id="checked" name="checked" type="submit" value="生成订单"/>
                        <!--</a>-->        
                    </div>
                </td>
            </tr>
            </form> 
        </tbody>
    </table>
    </div>
</body>
</html>
