<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
    <link href="{$smarty.const.ADMIN_CSS_URL}bootstrap.min.css" rel="stylesheet"/>
    <link href="{$smarty.const.ADMIN_CSS_URL}trade.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$smarty.const.ADMIN_CSS_URL}style.css"/>
    <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}demo.js"></script>  
</head>
<body>
<div class="catbox">
     <body class="skin-blue">
        <div class="div_head">
                        <span>
                            <span style="float:left">当前位置是：销售管理-》药品销售</span>
                            <span style="float:right;margin-right: 8px;font-weight: bold">
                                <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/salemed/cus_id/{$smarty.session.cus_id}">【返回】</a> 
                            </span>
                        </span>
        </div>
        <form name="fm" method="post" action="{$smarty.const.__CONTROLLER__}/savesale" id="fm" autocomplete="off">
            <div style="min-height:400px;   margin-top:3px"> 
                <div class="content" style=" background-color:#ffffff; width:90%px;">
                    <div id="part1">
                        <div class="text-center">                 
                            <h3>销售订单</h3> 
                            <div style="margin-bottom:5px;">
                                XS Order：<input readonly name="orderpo" type="text" value="{$orderCode}" id="orderpo" style="border:0px; border-bottom:solid 1px #000"/> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                订单日期：<input readonly name="orderdate" type="text" value="{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}" id="orderdate" style="border:0px; border-bottom:solid 1px #000"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <table class="table table-bordered table-condensed">
                            <tbody>
                                <tr>
                                    <th style="width:15%">采购方</th>
                                    <td style="width:35%"> 
                        <input name="cus_name" type="text" id="cus_name" value="{$cus_info.cus_name}" readonly />                                 
                                    </td>
                                    <th style="width:15%">供货方</th>
                                    <td style="width:35%">
                        <input name="user_name" type="text" id="companyname" value="药品进销存管理系统" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>联系人</th>
                                    <td>
                        <input name="cus_principal" type="text" id="cus_principal" value="{$cus_info.cus_principal}"readonly/>
                                    </td>
                                    <th>联系人</th>
                                    <td>
                        <input name="user" type="text" id="companycontact" value="{$smarty.session.user_name}"readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>手机</th>
                                    <td>
                        <input name="cus_phone" type="text" id="cus_phone" value="{$cus_info.cus_phone}"readonly/>
                                    </td>
                                    <th>手机</th>
                                    <td>
                        <input name="user_phone" type="text" id="companytel" value="18819438230"readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>电子邮件</th>
                                    <td>
                        <input name="cus_email" type="text" id="cus_email" value="{$cus_info.cus_email}"readonly/>
                                    </td>
                                    <th>电子邮件</th>
                                    <td>
                        <input name="user_email" type="text" id="companyemail" value="542783146@qq.com"readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>通讯地址</th>
                                    <td>
                        <input name="cus_address" type="text" id="cus_address" value="{$cus_info.cus_address}"readonly/>
                                    </td>
                                    <th>通讯地址</th>
                                    <td>
                        <input name="user_address" type="text" id="companyemail" value="华软"readonly/>
                                    </td>
                                </tr>
                            </tbody>       
                        </table>
                    </div>    
  <table id="cartTable">
    <thead>
      <tr>
        <th>
        <input class="check-all check" type="checkbox"/>&nbsp;&nbsp;全选</th>
        <th>名称</th>
<!--        <th>生产厂商</th>-->
        <th><center>单价</center></th>
        <th><center>数量</center></th>
        <th><center>小计</center></th>
        <th><center>库存</center></th>
        <th><center>备注</center></th>
      </tr>
    </thead>
    <tbody> 
        {foreach $info as $k => $v}
      <tr>
          <td class="checkbox"><label>
            <input border="0px" class="check-one check" type="checkbox"/></label></td>
        <td class="goods" name="med_name">
            <img src="" alt=""/>
            <span>{$v.med_name}</span>
            
        </td>
          
<!--        <td>{$v.med_manufacturer}</td>-->
        <td class="price" name="med_price">{$v.med_price}</td>
        <td class="count">
            <span class="reduce"></span>
          <input name="count[]" class="count-input" type="text" value="1"/>
          <span class="add">+</span></td>
          
          <!-- <input type="text" name="" value="{$v.med_inventory}"/> -->
        <td class="subtotal" name="med_toprice[]">{$v.med_price}</td>
        <td>{$v.med_inventory}</td>
<!--        <input type="hidden" id="subtotal" name="subtotal[]"/>-->
        
        <td><input name="remark[]" width="500" style="border: 0px" type="text" value=""/></td>
        <input type="hidden" name="med_inventory[]" value="{$v.med_inventory}"/>
        <input type="hidden" name="med_name[]" value="{$v.med_name}"/>
        <input type="hidden" name="med_price[]" value="{$v.med_price}"/>
        <input type="hidden" name="med_id[]" value="{$v.med_id}"/>
        
      </tr>
        {/foreach} 
    </tbody>
  </table>
                    
  <div class="foot" id="foot">
    
    <!--<div class="fr closing" onclick="getTotal();">确认订单</div>-->
    <!--<div class="fr closing" onclick="getTotal();">-->
        
    <input style="height: 48px" class="fr closing" border="0px" id="checked" type="submit" value="生成订单"  />
    
<!--    </div>-->
    
    <input type="hidden" id="cartTotalPrice" />
    <div class="fr total">合计：￥<span id="priceTotal" name="total[]">0.00</span></div>
    <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
    <div class="selected-view">
      <div id="selectedViewList" class="clearfix">
        <div><img src=""><span></span></div>
      </div>
      <span class="arrow">◆<span>◆</span></span> </div>
  </div>
</div>
        </form>
         <script type="text/javascript">
    // function abc(){
    //     // alert("sdoiqjw");
    //     if(document.getElementById("fm")count>med_inventory){
    //         alert("库存不足，提交失败");
    //     }else{
    //         var fm = document.getElementById("fm");
    //         fm.submit;
    //     }
    //}
 </script>
</body>
</html>