<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv=content-type content="text/html; charset=utf-8" />
        <link href="{$smarty.const.ADMIN_CSS_URL}admin.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
       <div class="nav-top">
    <span>药品进销存管理系统&nbsp;</span>
    <p>Ver.1.0</p>
    <div class="nav-topright">
                    <p>当前用户：{$smarty.session.user_name}</p> 
                    <a style="color: #fff" href="../../Home/Manager/changepass" target='right'>修改口令</a> 
                    
                    <a style="color: #fff" onclick="if (confirm('确定要退出吗？')) 
                        return true; else return false;" 
                        href="../../Home/Manager/logout" target=_top>退出系统</a> 
    </div>
</div>
    </body>
</html>